@* @using Demo_MVC.ViewModel *@

@model EmployeeWithMessageAndBranchesViewModel

<h1 style="font-size:30px; padding: 10px;">testViewModel</h1>

<h2>EmployeeId: @Model.EmployeeId</h2>

<h3>EmployeeName: @Model.EmployeeName</h3>

<h5 style="color:@Model.Color">Message: @Model.Message</h5>

<select class="form-control">
    @foreach (var item in Model.Branches)
    {
        <option>@item</option>
    }
</select>

<p>temp: @Model.Temp</p>
